/* === Base CSS Template === */
:root {
  /* Neutral */
  --neutral-900: #02012c;
  --neutral-800: #262540;
  --neutral-700: #302f4a;
  --neutral-600: #3c3b5e;
  --neutral-300: #acacb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;

  /* Orange */
  --orange-500: #ff820a;

  /* Blue */
  --blue-500: #465bd9;
  --blue-700: #2b189c;

  --font-dm: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-bricolage: "Bricolage Grotesque", "DM Sans", system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
  transition: 0.4s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

.tp-1 {
  font-family: var(--font-dm);
  font-weight: 600;
  font-style: italic;
  font-size: 96px;
  line-height: 1;
  letter-spacing: -2px;
}

.tp-2 {
  font-family: var(--font-bricolage);
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0;
}

.tp-3 {
  font-family: var(--font-dm);
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
}

.tp-4 {
  font-family: var(--font-dm);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0;
}

.tp-5 {
  font-family: var(--font-dm);
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

.tp-6 {
  font-family: var(--font-dm);
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
}

.tp-7 {
  font-family: var(--font-dm);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
}

.tp-8 {
  font-family: var(--font-dm);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  padding: 3rem 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% - 3rem);
  margin-inline: auto;
  position: relative;
}

header,
h1 {
  margin-bottom: 64px;
}

h1 {
  font-family: var(--font-bricolage);
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0;
}

.units {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background-color: var(--neutral-800);
  padding: 12px 0.8rem;
  cursor: pointer;
}

h1 {
  text-align: center;
}

#myForm {
  margin-inline: auto;
  margin-bottom: 48px;
  max-width: 656px;
  display: flex;
  gap: 1rem;
}

input[type="text"] {
  padding: 16px 8px 16px 50px;
  color: var(--neutral-200);
  border-radius: 12px;
  border: none;
  background: url("./assets/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-color: var(--neutral-800);
  width: 100%;
}

input[type="text"]::placeholder,
input[type="text"],
input[type="submit"] {
  color: var(--neutral-200);
  font-family: var(--font-dm);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
}

input[type="submit"] {
  background-color: var(--blue-500);
  border-radius: 12px;
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  color: var(--neutral-0);
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  justify-content: center;
  align-items: stretch;
}

.left-col {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-col {
  width: 384px;
}

/* ===== UNITS DROPDOWN ===== */

.units-selector {
  border-radius: 15px;
  padding: 15px;
  background-color: var(--neutral-800);
  width: 214px;
  position: absolute;
  top: 3.5rem;
  right: 0;
  z-index: 99;
  display: none;
}

.units-selector.units-active {
  display: block;
}

.units-selector > p {
  margin-bottom: 12px;
}

.units-selector >div {
  padding: 7px 0;
}

.units-wind-wrapper,
.units-temperature-wrapper
 {
  border-bottom: 1px solid var(--neutral-600);
  margin-bottom: 12px;
}

.units-wind-wrapper p,
.units-temperature-wrapper p,
.units-precipitation-wrapper p {
  margin-bottom: 5px;
}

.units-selector > div p {
  color: var(--neutral-300);
}

.units-precipitation-wrapper {
    border-bottom: none;
    margin-bottom: 0;
    border: 0px solid red;
}

.units-selector button {
  background: none;
  color: var(--neutral-0);
  width: 100%;
  height: 39px;
  border-radius: 12px;
  text-align: start;
  padding-left: 5px;
}

.units-selector button:focus {
  background-color: var(--neutral-700);
}

/* ===== LEFT COLUMN ===== */

.town {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 286px;
  border-radius: 12px;
  padding: 0 1.2rem;
  background: url("./assets/images/bg-today-large.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

.temperature {
  display: flex;
  align-items: center;
}

.temperature img {
  width: 120px;
  height: 120px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.temperature img.fade-out {
  opacity: 0;
}

.date,
.metrix h3 {
  color: var(--neutral-200);
  margin-bottom: 0.7rem;
}

.metrix-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 42px;
}

.metrix {
  border-radius: 12px;
  background-color: var(--neutral-800);
  width: 100%;
  padding: 15px 1.2rem;
  height: 118px;
}

.daily-title {
  color: var(--neutral-0);
  margin-bottom: 15px;
}

.days,
.min-max-temperatures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  background-color: var(--neutral-800);
  border-radius: 12px;
  padding: 15px 7px;
  text-align: center;
  height: 160px;
  width: 100px;
}

.day img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-inline: auto;
}

.min-temp {
  color: var(--neutral-200);
}

.max-temp {
  color: var(--neutral-0);
}

/* ===== RIGHT COLUMN ===== */
.right-col {
  padding: 24px;
  border-radius: 12px;
  background-color: var(--neutral-800);
}

.hourly-title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#hourly-days {
  background-color: var(--neutral-700);
  color: var(--neutral-0);
  border: none;
  cursor: pointer;
  height: 37px;
  width: 120px;
  padding: 0 0 0 15px;
  position: relative;
  border-radius: 7px;
}

#hourly-days option {
  padding: 20px 0;
}

.hourly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 336px;
  height: 60px;
  border-radius: 7px;
  background-color: var(--neutral-700);
  padding-right: 15px;
  margin-bottom: 16px;
}

.hourly>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hourly img {
  width: 40px;
  height: 40px;
}

.hourly-text {
  text-transform: uppercase;
}

/* ===== RESPONSIVE DESIGN ===== */

@media (max-width: 1260px) {
  .left-col {
    width: 100%;
  }

  .right-col {
    width: 100%;
  }

  .day {
    width: fit-content;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 2rem 1rem;
  }

  #myForm {
    margin-bottom: 32px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hourly {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .right-col {
    width: 100%;
  }

  header,
  h1 {
    margin-bottom: 48px;
  }

  #myForm {
    max-width: 100%;
    flex-direction: column;
  }

  .metrix-wrapper {
    gap: 10px;
  }

  .metrix {
    border-radius: 12px;
    background-color: var(--neutral-800);
    width: 100%;
    padding: 10px 0.8rem;
    height: 118px;
  }

  .town {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 343px;
    background: url("./assets/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .temp-txt {
    font-size: 80px;
  }

  .town-name-date {
    text-align: center;
  }

  .metrix-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }

  .days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }

  .day {
    width: 100%;
  }
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}